<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command name="UserCommand.QueryUserByUserName" database="myframework" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT TOP(1) * FROM dbo.Users u WITH(NOLOCK)
        WHERE u.UserName = @UserName
      ]]>
    </commandText>
    <params>
      <param name="UserName" dbType="String" size="50" direction="Input" defaultValue=""/>
    </params>
  </command>

  <command name="UserCommand.QueryByStatus" database="myframework" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT @Records = COUNT(1) FROM dbo.Users u WITH(NOLOCK)
        WHERE u.Status = @Status
        
        SELECT * FROM dbo.Users u WITH(NOLOCK)
        WHERE u.Status = @Status
      ]]>
    </commandText>
    <params>
      <param name="Status" dbType="String" size="10" direction="Input" defaultValue=""/>
      <param name="Records" dbType="Int32" size="4" direction="Output" defaultValue=""/>
    </params>
  </command>
</commands>