<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="database" type="aihuhu.framework.data.Configuration.DatabaseConfigurationSection,aihuhu.framework.data"/>
  </configSections>
  <database>
    <databaseCollection>
      <!--
    connection : 数据库连接字符串
    provider : 数据库连接类型，默认sql，取值：sql,mysql
    encrypt : 连接串是否加密，默认true
  -->
      <add name="myframework" connection="F8kzThMGL3wr1qH8buP+TF56nIe+2gQxAqUw4ZuSvFv7n9p1RX+pxccQ2y7jvI0ZcgdcTp+P9bCxejaO7VUsXoPsRpQGjfyqR5jrt3UdkbatxvMxr10R/hV44RNo7U+l" provider="sql" encrypt="true" />
      <add name="default" connection="NH/+SRnivrFBqBZBYJ9L7UBkpGaGy+Tm88ilr9fW5qJnUaxNJlFQwmIfjVIQbjQZigKnOfLo/dQttNvakwOvUUDLkNqU9dWHtPt+JHvLnkWpGmoCeoa9vfkXutK8WlZylGk34XzpALMaeeTXPrwMizdhRi6pF5ZMYve3+Xc/KaE="/>
    </databaseCollection>
  </database>
</configuration>
